a {
    text-decoration: none;
}

b {
    font-weight: 500;
}

h2,h3 {
    text-transform: uppercase;
    font-weight: 200;
}

.container {
    max-width: 999px;
    padding: 0 20px 0 0 !important;
}

.col {
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-3 {
    text-align: right;
    background: #fafafa;
}

.page-break {
    page-break-before: always;
}

.icon {
    width: 20px;
}

.nGY2GThumbnail {
    border-color: #f4f0f0 !important;
}

.li {
    opacity: 0.6;
    font-size: 12px;
}

@media print {
    .no-print {
        display: none !important;
    }
}
