<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Resume</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container" id="resume">
		<div class="row">
			<div class="col col-3">
				<h2>Python <br>dev</h2>
				<a href="https://github.com/qvp" target="_blank">github.com/qvp</a>
				<br>
				mail@alex.md
			</div>
			<div class="col col-9">
				Меня зовут Александр, мне 34 года.<br>
				Backend-разработкой занимаюсь 12 лет, из которых более 6 лет на Python.<br>
				<br>
				<b>Основные навыки:</b><br>
				Python, FastAPI, SqlAlchemy, alembic, asyncio, pytest, docker<br>
				Микросервисная архитектура, асинхронность, процессы, потоки<br>
				SQL, Postgres, RabbitMQ, Apache Kafka, ClickHouse, Redis<br>
				ООП, Тестирование, Качество кода (SOLID, DRY, KISS, PEP20), Linux<br>
				<br>
				В данный момент изучаю Golang<br>
				<div class="no-print mt-2">
					<a href="doc/Resume Python Alex.md.pdf" download>
						<img src="css/pdf.png" class="icon"> скачать резюме в pdf
					</a>
				</div>
			</div>
		</div>

		<div class="row" v-for="(item, index) in data">
			<div class="col col-3 text-right">
				<h3>{{item.company}}</h3>
				<div v-if="item.company_link">
					<a :href="'https://' + item.company_link" target="_blank">{{item.company_link}}</a>
				</div>
				{{item.desc}} <br>
				{{item.term}} <br>
			</div>
			<div class="col col-9">
				<div :id=" 'gallery' + index" class="no-print" style="display:none" v-if="item.gallery"></div>
				<a :href=" 'https://' + item.project_link" target="_blank" v-if="item.project_link">{{item.project_link}}</a>
				<div v-html="item.text"></div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>

		<script src="js/DATA.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/script.js"></script>
	</div>
</body>
</html>
