<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="6d41caf7613d1dfd" />
    <meta name='freelancehunt' content='1a8873c994e2dca' />
    <title>Александр Кузьменко | Python программист</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(45992394, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            trackHash:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/45992394" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a id="site" class="navbar-brand" href="/">alex.<span>MD</span></a>
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/qvp">Примеры кода</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://hh.ru/resume/7ed48a21ff0406281a0039ed1f4f6f4d4d7139">Резюме</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mailto:mail@alex.md"><img src="css/mail.png" class="icon">mail@alex.md</a>
            </li>
        </ul>
    </div>
</nav>
    <div id="scroll">
        <div class="corner"></div>

        <div class="container">
            <div class="row">
            <div class="col-12">
                <div id="ava">
                    <img src="css/me.png">
                </div>
                <h3 class="mt-3 mb-5 text-center font-size-30">Александр Кузьменко</h3>
                <h2 class="font-size-60 font-weight-bold text-center">
                    Python программист
                </h2>
                <p class="mt-5">
                    Занимаюсь backend-разработкой 9 лет, из которых более 4 лет на Python и Django.
                    Большинство моих работ - это долгосрочные проекты, которые я делал "с нуля". Это помогло мне получить разносторонний опыт на всех уровнях:
                    выбирать правильную архитектуру, проектировать базы данных, находить нестандартные решения, разрабатывать собственные библиотеки,
                    доводить проект до "production ready".
                    <br>
                    Особое внимание уделяю качеству кода. Пишу тесты, документацию. Постоянно занимаюсь повышением квалификации.
                    <br>
                    <br>
                    <span class="text-success">Отлично знаю</span> <i>(отлично знаю теорию, много применял на практике):</i>
                    <br>
                    Python, Django, DRF, Postgres, SQL, ООП, Тестирование, Качество кода (SOLID, DRY, KISS, и.т.д), Асинхронное программирование,
                    <br>
                    aiohttp, Celery, Redis, Docker, Unix
                    <br>
                    <br>
                    <span class="text-success">Неплохо разбираюсь</span> <i>(хорошо знаю теорию, несколько раз применял на практике):</i>
                    <br>
                    RabbitMQ, ClickHouse, Многопоточность, Многопроцессорность, Golang, Микросервисная архитектура
                </p>

                <!-- Портфолио -->
                <div class="delimiter mt-5 mb-5">
                    <div><span>Некоторые мои работы</span></div>
                </div>
                <div class="mb-5 selectable-badges">
                    <h6>Фильтр по тегу:</h6>

                    <span v-for="tag in db.tags"
                          v-if="tag.filter"
                          :class="{active: tag.id === filterByTag}"
                          class="badge badge-danger badge-skill"
                          @click="setFilterByTag(tag.id)">{{ tag.title }}</span>
                </div>

                <div class="row mb-10">
                    <div class="col-md-6 col-lg-4 col-xl-3 mt-5" :class="{'hidden-work': filterByTag !== null && item.tags.indexOf(filterByTag) === -1}" v-for="item in getFilteredWorks">
                        <h5 v-html="item.title"></h5>
                        <p>{{ item.short_desc }}</p>
                        <a href="javascript:void(0);" @click="setCurrentPage(item.id)" class="open-modal">Подробнее ...</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- Modal window -->
        <div id="animatedModal" :class="{'modal-opened': currentPage, 'modal-closed': !currentPage}">
            <div class="close-animatedModal" v-if="currentPage">
                <div class="float-right" @click="setCurrentPage(null)">
                    <img src="css/cancel.png">
                </div>
                <div @click="setCurrentPage(null)">
                    <img src="css/left-arrow.png"> Назад
                </div>
            </div>
            <div class="modal-content">
                <template v-for="item in db.portfolio" v-if="item.id === currentPage">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 work-margin-top">
                                <h5 class="work-title">
                                    <a target="_blank" :href="item.link" v-html="item.title"></a>
                                    <span class="work-date" v-if="item.term">(срок {{ item.term }})</span>
                                </h5>
                                <p class="pre-line" v-html="item.desc"></p>

                                <h6 v-if="item.link">Ссылка</h6>
                                <a :href="item.link" class="open-modal" target="_blank" v-if="item.link">{{ item.link }}</a>

                                <h6 class="margin-top-40">Мое участие:</h6>
                                <p class="pre-line" v-html="item.my_work"></p>

                                <h6>Использовал технологии:</h6>
                                <p>
                                    <span v-for="tag in getTagsNames(item.tags)" class="badge badge-danger badge-skill">{{ tag }}</span>
                                </p>

                                <h6 v-if="item.api.length">Интегрировал API:</h6>
                                <p>{{ item.api.join(', ') }}</p>

                                <h6 v-if="item.parsing.length">Парсинг данных:</h6>
                                <p>{{ item.parsing.join(', ') }}</p>

                            </div>
                        </div>
                    </div>
                    <div class="container-fluid dark-bg" v-if="item.previews.length">
                        <div class="row">
                            <div class="col-6 col-preview col-preview-left">
                                <a v-for="src in getSideImages(item.previews, 'left')" :href="'previews/' + src" target="_blank">
                                    <img :src="'previews/' + src">
                                </a>
                            </div>
                            <div class="col-6 col-preview">
                                <a v-for="src in getSideImages(item.previews, 'right')" :href="'previews/' + src" target="_blank">
                                    <img :src="'previews/' + src">
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/DATA.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
